
.headerBlock{
    width: 1200px;
}

.iconBlock{
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80px;
}

.profileBlock{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80px;
}

.searchField{
    display: flex;
    align-items: center;
    max-width: 540px;
    flex: 1 1 0%;
    margin-left: 1rem;
    margin-right: 1rem;
}